.zig-cache/
zig-cache/
zig-out/

/build/
/build-*/
/debug/
/docgen_tmp/
/release/

# Maelstrom should be downloaded and not committed to this repo
maelstrom/

# Node.js dependencies
node_modules/

# Node.js Single Executable Applications
solutions/nodejs-sea/

# Maelstrom stores its test results in the store directory
store/